name: Generate Keymap Diagram

on:
  push:
    paths:
      - "config/*.keymap"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  draw:
    uses: caksoylar/keymap-drawer/.github/workflows/draw-zmk.yml@main
    with:
      keymap_path: "config/LiNEA40.keymap"
      config_path: "config/LiNEA40.json"
      output_path: "keymap.svg"
